/* Basic CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /*10px*/
}

body {
	font-family: 'Muli', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
   padding: 1rem;
}


.top-info {
   background-color: #F5FAFE;
   font-size: 1.6rem;
   text-align: center;
}


.top-info_second-item {
   margin: 1rem;
   align-items: center;
}


.top-info_second.flex {
   display: flex;
   justify-content: center;
}




@media (min-width: 768px) {
   .flex {
      display: flex;
   }

   .top-info-wrapper{ 
      align-items: center;
      justify-content: space-between;
   }

   .top-info_second {
      align-items: center;
   }
   
   .top-info_second-item{
      padding: 0 2rem
   }

   .top-info_second-item img {
      padding: 0 3rem
   }
   
}